@import url(./base.css);

.form {
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #182c5a;
}
.form-text{
    color: white;
    margin-bottom: 40px;
    margin-top: -40px;
}
.input-res{
    width: 350px;
    padding: 12px;
    outline: none;
    border-radius: 4px;
}
.text-head{
    padding: 0 16px;
}

.btn {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--secondary-text);
    right: 2px;
    top: 2px;
}
.btn:hover {
    transform: scale(1.025);
    cursor: pointer;
}
.infor {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--secondary-text);
}

.nav-left {
    width: 240px;
    background-color: var(--primary-color);
    height: 100vh;
    padding: 0 16px;
    top: 0;
    z-index: 1;
}
#name-tree {
    padding-right: 0;

}

.logo-login {
    font-size: 1rem;
    color: var(--secondary-text);
    padding: 5px;
    border: 1px solid var(--secondary-text);
    border-radius: 50%;

}
.logo-name{
    text-align: center;
    padding: 2px;
}
.name-user,
.email-user{
    font-size: .8rem;
    color: var(--secondary-text);
    padding-left: 8px;

}

.color-icon {
    filter: invert(99%) sepia(73%) saturate(310%) hue-rotate(3deg) brightness(99%)
    contrast(92%);
}

.nav-list {
    padding: 10px 18px ;
    border-left: 2px solid transparent;
    margin: 0 -16px;
}
.nav-list:hover {
    background-color: var(--hover-item-color);
    border-left: 2px solid var(--forcus-action-color);
    cursor: pointer;
}
.nav-list-focus {
    border-left: 2px solid var(--forcus-action-color);

}
.nav-list-focus p {
    color: var(--forcus-action-color);
}
.nav-list-focus img{

    filter: invert(39%) sepia(95%) saturate(706%) hue-rotate(179deg)
      brightness(87%) contrast(101%);
}
.nav-list:hover p {
    color: var(--forcus-action-color);
}
.nav-list:hover img{
    filter: invert(39%) sepia(95%) saturate(706%) hue-rotate(179deg)
      brightness(87%) contrast(101%);
}
.nav-list-items {
    border-bottom: 1px solid var(--secondary-text);
}

/* Hear */
.head-table {
    margin-left:240px ;
    width: calc(100% - 240px);
}
.header {
    background-color: var(--secondary-color);
    padding: 8px 16px;

}
.lager {
    width: 24px;
}

.item-right button {
    background-color: transparent;
    padding: 4px 8px;
    margin-left: 20px;
    border-radius: 8px;
}

.text-main-text,
.upload-text {
    color: var(--secondary-text);
    padding-left: 4px;
}
label.upload {
    padding: 10px;
    border-radius: 8px;
}

.item-right button:hover {
    background-color: var(--forcus-action-color);
    transform: scale(0.8);
    cursor: pointer;
    transition: all .3s linear;
}
label:hover {
    background-color: var(--forcus-action-color);
    transform: scale(0.8);
    cursor: pointer;
    transition: all .3s linear;
}
.center-header {
    width: 100%;
    left: 0;
}
.input-header{
    width: 100%;
    padding: 10px;
    margin: 0 16px;
    outline: none;
    border-radius: 8px;
    z-index: 10;
}
.btn-header-input {
    right: 19px;
    padding: 7px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    color: var(--secondary-text);
    cursor: pointer;
    z-index: 10;
}
.btn-header-input:hover {
    transform: scale(1.025);
}

/* Tree */

.tree-table-left {
    width: 200px;
    height: calc(100vh - 56px);
}

.tree-table-right {
    width: calc(100% - 200px);
    background-color: #FAFAFA;

}

.table-right-item{
    overflow-y: auto;
    height: calc(100vh - 92px);
}
.name-tre{
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    font-size: .8rem;
    padding-left: 20px;
}
.name-tre p{
    font-size: .8rem;
}
.name-tre p:not(p.numbe):hover{
    font-weight: 600;
    transition: all .3s linear;
    cursor: pointer;
}


.folder-item {
    padding: 10px;
    padding-left:20px ;
}
.folder-item-2{
    padding: 8px;

}

.items img{
    filter: invert(80%) sepia(32%) saturate(384%) hue-rotate(360deg)
    brightness(104%) contrast(105%);
  margin-right: 8px;
}

.items p {
    font-size: .7rem;
}

.items p:hover {
    font-weight: 600;
    transition: all .3s linear;
    cursor: pointer;
}

.hover-item:hover {
    background-color:#f1f3ce;
}



.folder-item-2:hover {
    background-color: var(--secondary-text);
}


.table-right-item {
    text-align: center;
}
.seketon{
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0 50px;
}
.seketon-items{
    text-align: center;
    width: 100%;
}

.seketon-color{
    width: 1%;
    height: 20px;
    border-radius:10px;
    background:linear-gradient(45deg,#0099F7,#F11712);
    animation: loadding 3s linear;
}

@keyframes loadding {
    0% { width: 10%; }
    25% { width: 25%; }
    50% { width: 50%; }
    75% { width: 75%; }
    100% { width: 100%; }
}

.form-add {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.form-add-items {
    width: 300px;
    height: 250px;
    background-color:var(--secondary-color);
    border-radius: 8px;
    padding: 12px;
}
.form-add-item {
    width: 100%;
}
.form-add-item h3 {
    margin-bottom: 10px;
    color: var(--secondary-text);
    font-size: 1.2rem;
}


.form-add-item input {
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 4px;
}

.but-tn{
    padding: 4px 8px;
    background-color: var(--secondary-text);
    color: var(--secondary-color);
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
}
.but-tn-1{
    background-color: #e1e953;
    color: var(--secondary-color);

}

.but-tn:hover {
    transform: scale(0.95);
    transition: all .3s linear;
    cursor: pointer;
    filter: brightness(110%);
    font-weight: 600;
}

.render-data {
    height: calc(100vh - 92px);
    overflow-y:auto ;
}

.header-items-tre {
    right: 0;
}

.btn-upload-fike{
    right: 60px;
    top:50vh;
    padding: 8px;
    background-color:#1c7d4e45;
    color: var(--primary-text);
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s linear;
}

.tab-nav{
    display: none;
}

.btn-upload-fike:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-text);
    transform: scale(.9);
}

.list-action-dothree {
    list-style: none;
    background-color: #FFFFFF;
    right: 20px;
    top: 40px;
    width: 120px;
    border-radius: 4px;
    text-align: start;
    z-index: 1;
}
.list-action-dothree li {
    padding: 8px 10px;
}

li:hover {
    background-color: var(--secondary-text);
    cursor: pointer;
}

.icon-action-list:hover {
    cursor: pointer;
    transform: scale(1.2);

}
.list-action-dothree li{
    color: var(--primary-text);
}
li.head-dot {
    border-bottom: 1px solid gray;
    color: var(--forcus-action-color);
    cursor: default;
}

.all-items{
    width: 100%;
}

.all-file-recen{
    flex-wrap: wrap;
    text-align: center;
}
.img-recos{
    width: 40px;
    filter: invert(80%) sepia(32%) saturate(384%) hue-rotate(360deg)
    brightness(104%) contrast(105%);
    margin-bottom: 8px;
}

.acout-action img {
    width: 50%;
}

.item-recen{
    width: 100%;
}

.wid-item{
    padding: 10px;
}

.all-file-recen {
    margin-top: 10px;
}

.head-Recen {
    margin: 10px 15px;
}

.NoneF {
    width: 100%; 
}
.nav-detail{
    margin-top: 10px;
}

.items-re{
    font-size: .7rem;
}
.name-user-2{
    padding: 8px 12px;
    border: 1px solid var(--secondary-text);
    border-radius: 4px;
    color: var(--secondary-text);
    font-size: .9rem;
    cursor: pointer;
}
.nav-list-end{
    margin-top: 10px;
    display: none;
}
.name-user-2:hover{
    background-color: var(--forcus-action-color);
    transform: scale(.9);
}

.tree-mobie-small{
    padding: 8px;
}

.mobie {
    padding: 0 10px;
    margin-top: 10px;
    display: none;
}

.mobie p{
    padding: 8px;
    font-size: .8rem;
}
.img-in-mobie{
    margin-left: 8px; 
    margin-right: 8px;
}
.tree-mobie-small:hover {
    background-color: var(--secondary-text);
}
.item-left{
    cursor: pointer;
}
img.icon-upload{
    width: 24px;
}
.down-load {
    font-size: 1rem;
}

.rename{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.form-rename{
    width: 200px;
    background-color: #c4c4c4;
    height: 150px;
    box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
}
.input-rename,
.input-share{
    padding: 8px 10px;
    outline: none;
    margin: 20px 0;
    border-radius: 4px;
}
.but-rename {
    padding: 8px 0;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--secondary-text);
    border-radius: 4px;
}

.but-rename:hover {
    transform: scale(.95);
    font-weight: 600;
    transition: all .3s linear;
}
.img-detail{
    padding: 10px 8px;
}
.img-detail img{
    width: 50%;
    height: 80vh;
    object-fit: cover;
}




@media (max-width:1024px) {
    html {
        font-size: 14px;
    }
    .nav-left {
        display: none;
        top: 0;
        z-index: 1;
        right:  0;
    }
    .head-table{
        width: 100%;
        margin-left: 0;
    }
    .tab-nav{
        display: block;
    }

    .hidenone {
        display: block;
    }
}

@media (max-width:720px){
    .text-main-text,
    .upload-text{
        display: none;
    }
    .nav-list-end{
        display: flex;
    }
    .wid-item {
        width: 25%;;
    }
    .item-right button {
        margin-left: 12px;
    }

}


@media (max-width:480px){
    html {
        font-size: .8rem;
    }
    .tree-table{
        display: none;
    }
    .tree-table-right{
        display: none;
    }
    .form-add{
        top: 45vh;
    }
    .wid-item {
        width: 50%;;
    }
    .btnHome:hover{
        font-weight: 600;
        transition: all .3s linear;
        cursor: pointer;
    }
    .text-mean-mobie {
        color: gray;
    }
    .mobie {
        display: block;
    }
    .item-right button {
        margin-left: 8px;
    }
    .rename {
     top: 50vh;
     z-index: 1;   
    }
    .img-detail{
        padding: 0 8px;
    }
    .img-detail img{
        width: 100%;
    }
    .nav-detail{
        margin-top: 0;
    }
}

